<section class="footer">
    <div class="container">
        <div class="header"><a href="#" class="logo"><span class="Ele">I</span>movies</a></div>
        <div class="content">
            <ul class="footer_links">
                <li><a href="#">Home</a></li>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">Terms Of Services</a></li>
                <li><a href="#">About Us</a></li>
            </ul>
            <ul class="footer_links">
                <li><a href="#">Live</a></li>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Premium</a></li>
                <li><a href="#">Privacy Policy</a></li>
            </ul>
            <ul class="footer_links">
                <li><a href="#">You Must Watch</a></li>
                <li><a href="#">Recent Release</a></li>
                <li><a href="#">Top IMDB</a></li>
            </ul>
        </div>
    </div>
</section>